/node_modules
/public/hot
/public/admin/platform/node_modules
/public/admin/assets/languages/languages-default.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/hooks
/.vscode
