html[lang=ar] body {
  font-family: "Cairo", sans-serif;
}

html[lang=ar] h1,
html[lang=ar] h2,
html[lang=ar] h3,
html[lang=ar] h4,
html[lang=ar] .font-weight-bold {
  font-weight: 700 !important;
}

.card-header i {
  transition: 0.3s;
}

.card-header.collapsed .fa-chevron-down {
  transform: rotate(180deg);
}

.border-error {
  border: 1px solid #d30000;
}

.select2-container {
  width: 100% !important;
}

.dataTables_wrapper tr[role=row] {
  cursor: pointer;
}

.dataTables_wrapper .col-sm-12 {
  overflow-x: auto;
}

.dropfile-wrapper {
  position: relative;
  height: 80px;
  border: 1px solid;
}

.dropfile-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.channel-item {
  position: relative;
  cursor: pointer;
}

.channel-item.selected i {
  border: 3px solid #38c172;
  color: #38c172;
}

.channel-item i {
  height: 40px;
  width: 40px;
  border: 3px solid #495057;
  color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.image-action {
  position: relative;
}

.image-action i {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

.vertical-menu {
  z-index: 999;
}

