/* *,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    background: #6589f9;
} */

#game .grid {
    max-width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

#game .card {
    position: relative;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 5px;
}

#game .card,
#game .back,
#game .front {
    height: 200px;
    width: 140px;
}

@media (max-width: 768px) {
    #game .card,
    #game .back,
    #game .front {
        height: 100px;
        width: 70px;
    }
}

#game .back,
#game .front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#game .front {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#game .card:nth-child(odd) .front {
    background-image:url("../../../images/platform/memory-card-light.png") !important;
}

#game .card:nth-child(even) .front {
    background-image:url("../../../images/platform/memory-card-dark.png") !important;
}

#game .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#game .selected {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#game .match .front {
    background: #6589f9 !important;
}
#game .card.match .back {
    transform: initial;
}